.Wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Header{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  margin: auto auto;
  text-align: center;
}

.Spacer{
  width: 5px;
  height: 100%;
  background: black;
}

.Row{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BgBlack{
  background-color: black;
}

.Deg90{
  transform: rotate(90deg);
}

.Deg270{
  transform: rotate(270deg);
}
